<div id="mycontainer1"  class="left">   
  <h4 id="campus">Campus Programs</h4> 

     <div class="grid-container" id="onlineToggle"  >
      
     
      <div class="grid-item">
      <h3>Deep Learning</h3>
      <img src="../../assets/deep.jpg" alt="" height="250px" width="300px"><br>
      <i >course fee: Rs.3000</i>
      <br>
      <i>Starts from 03-11-2021</i>
      <br>
      </div>
  
      <div class="grid-item">
      <h3>Web development</h3>
      <img src="../../assets/web.jpg" alt="" height="250px" width="300px"><br>
      <i>course fee: rs.3000</i>
      <br>
      <i>Starts from 05-11-2021</i>
      <br>
      </div>
  
      <div class="grid-item">
      <h3>Data structure and algorithm</h3>
      <img src="../../assets/ds.jpg" alt="" height="250px" width="300px"><br>
      <i>course fee: Rs.2000</i>
      <br>
      <i>Starts from 02-11-2021</i>
      <br>
      </div>
  
      <div class="grid-item">
      <h3>Machine Learning</h3>
      <img src="../../assets/ml.jpg" alt="" height="250px" width="300px"><br> 
      <i>course fee: Rs.4000</i>
      <br>
      <i>Starts from 07-11-2021</i>
      <br>
      </div>
  
      <div class="grid-item">
      <h3>Verilog basics</h3>
      <img src="../../assets/verilog.jpg" alt="" height="250px" width="300px"><br>
      <i>course fee: Rs.8000(including kit)</i>
      <br>
      <i>Starts from 09-11-2021</i>
      <br>
      <p>Register before 2-11-2021</p>
      </div>
  
      <div class="grid-item">
      <h3>Pic microcontroller basics</h3>
      <img src="../../assets/microcontroller.jpg" alt="" height="250px" width="300px"><br>
      <i>course fee: Rs.9000(including kit)</i>
      <br>
      <i>Starts from 09-11-2021</i>
      <br>
      <p>Register before 2-11-2021</p>
      </div>
   
  </div>
</div>
<br><br>
<!---------------------------------------- Second grid  ---------------->
<div id="mycontainer2"  class="right">
<h4 id="online">Online Programs</h4>
  <div class="grid-container1" id="onlineToggle" >
     

     
    <div class="grid-item1">
    <h3>Python for everybody</h3>
    <img src="../../assets/python.jpg" alt="" height="250px" width="300px"><br>
    <i >course fee: Rs.3000</i>
    <br>
    <i>Starts from 03-11-2021</i>
    <br>
    </div>

    <div class="grid-item1">
    <h3> Learn Angular</h3>
    <img src="../../assets/angular.png" alt="" height="250px" width="300px"><br>
    <i>course fee: rs.3000</i>
    <br>
    <i>Starts from 05-11-2021</i>
    <br>
    </div>

    <div class="grid-item1">
    <h3>Java Full Stack development</h3>
    <img src="../../assets/java.jpg" alt="" height="250px" width="300px"><br>
    <i>course fee: Rs.2000</i>
    <br>
    <i>Starts from 02-11-2021</i>
    <br>
    </div>

    <div class="grid-item1">
    <h3>Digital Marketing</h3>
    <img src="../../assets/digi.png" alt="" height="250px" width="300px"><br> 
    <i>course fee: Rs.4000</i>
    <br>
    <i>Starts from 07-11-2021</i>
    <br>
    </div>

    <div class="grid-item1">
    <h3>Django for professionals</h3>
    <img src="../../assets/django.jpg" alt="" height="250px" width="300px"><br>
    <i>course fee: Rs.8000</i>
    <br>
    <i>Starts from 09-11-2021</i>
    <br>
    <p>Register before 2-11-2021</p>
    </div>

    <div class="grid-item1">
    <h3>Content writing for beginners</h3>
    <img src="../../assets/content.jpg" alt="" height="250px" width="300px"><br>
    <i>course fee: Rs.1000(including materials)</i>
    <br>
    <i>Starts from 09-11-2021</i>
    <br>
    <p>Register before 2-11-2021</p>
    </div>
 
</div>

</div>
    




