<div class="base">
    <h1 style="text-align: center;color: black;background-color: cornflowerblue;">Faculty</h1>
    <br>
    <table style="width: 100%;">
    <tr>
    <td>
    <button type="button" name="btn1" id="btn1" (click)="display('btn1')"><img src="../../assets/deeksha.jpg" width="100px" height="100px">
    <br>
    <span>Dr. Deeksha</span></button>
    </td>
    <td>
    <button type="button" name="btn2" id="btn2" (click)="display('btn2')"><img src="../../assets/lalita.jpg" width="100px" height="100px">
    <br>
    <span>Prof. Lalita</span></button>
    </td>
    <td><button type="button" name="btn3" id="btn3" (click)="display('btn3')"><img src="../../assets/krishna.jpg" width="100px" height="100px">
    <br>
    <span>Prof. Krishna</span></button></td>
    <td><button type="button" name="btn4" id="btn4" (click)="display('btn4')"><img src="../../assets/chinmay.jpg" width="100px" height="100px">
    <br>
    <span>Prof. Chinmay</span></button></td>
    <td><button type="button" name="btn5" id="btn5" (click)="display('btn5')"><img src="../../assets/a.jpg" width="100px" height="100px">
    <br>
    <span>Prof. A</span></button></td>
    </tr>
    </table>
    <br>
    <div style="text-align: center;">
        <h3 style="color: blue;">{{desc}}</h3>
        
        <h4 style="color: red;">{{designation}}</h4>
       
        <span>{{qualification}}</span>
        <span><br>{{experience}}</span>
        </div>
    </div>

    