<div class="left">
    <table border="1"  cellspacing="0" >
        <tr >
            <td colspan="3"  class="data" style="background-color: rgb(231, 192, 212);">
                <h2 style="color: midnightblue;">Republic day celebration</h2>
                <div style="color: mintcream;">
                    The 72 Republic Day was celebrated by the Horizons University, on January 26, 2021 at administrative block of the institute. the Tricolor was unfurled by Dr. K. Raghuveer, Principal, Horizons. the Head of the Departments, Deans, Heads of Centers of Excellence and Administrative Officer of the institute were present on the occasion.
                </div>
            </td>
        </tr>

        <tr  >
            <td rowspan="2"  class="data">
                
                
                <h2 style="color: snow;background-color: black;">Graduation day</h2>
                <div style="background-color: black;color: snow;">
                    The 10 batch of 1,072 students of the Horizons University received their provisional degree certificates at the 10 Graduation Day programme held here on 23 January 2021. Prof. G Hemantha Kumar, Vice- Chancellor, University of Mysore, delivered the graduation day address and said that the New Education Policy (NEP) – 2020 has visualised an education system where the younger generation people are instilled deep-rooted pride in being Indian, not only in thought, but also in spirit, intellect and deeds besides developing knowledge, skills, values and dispositions that support responsible commitment to society.


                </div>                
               
            </td>
            <td  class="data" style="background-color: chartreuse;">
                <h2 style="color: crimson;">Field Visit by Learning Aspirants</h2>
                <div style="color: rgb(14, 8, 8);">
                    One day field trip was organized for the first year students by Dr. N Suresh, Dr. N th C Balaji & Dr. Naveen B O, on 27 March, 2021as a part of curriculum activities. e students visited building rehabilitation site to understand the nature of work involved and know about the execution of such construction works.
                </div>
                </td>

        </tr>
        <tr>
            <td  class="data" style="background-color: yellow;">
                <h2 style="color: orchid;">One Day Training Porgram On Tensorflow</h2>
                <div style="color: rgba(14, 8, 8, 0.466);">
                    The Department of Computer Engineering, Horizons University, organized an online training program on Tensorflow for students and the faculty of M. Tech. Machine learning on 24 March, 2021. the training was focussed on theoretical V/s Experimental Modal analysis, examples and case studies. The speaker was Dr. Akash Rajan, Chief Executive Officer, Vibration Analyst ISO Category III, Tyrannus Innovative Engineering and Research Academy Pvt. Ltd.
                </div>
            </td>
        </tr>
        <tr>
            <td class="data" style="background-color: rosybrown;">
                <h2 style="color: red;">Student Achievement 2021 November</h2>
                <div>
                    4KSCST has selected three UG student project for funding for the 44th series of Student Project Programme from department of civil engineering. Hydrophobic composite roof tiles from waste to enhance rainwater harvesting guided by Mrs Archana K , design and fabrication of a novel 'prototype' for the reduction of suspended particulate matter, for improving indoor air quality guided by Dr Rajesh Gopinath and Dr Anupama and Appropriate eco-friendly additives for soil liner to restrain migration of harmful constituents in leachate-a case solid waste disposal site at Yelahanka, Bengaluru guided Mr Vinod B R and Mrs Shobha R
                </div>
                </td>
                <td class="data"  style="background-color: slategray;">
                    <h2 style="color: snow;">Parents Teachers Meeting (PTM)</h2>
                    <div style="color: snow;">
                        Parents-Teachers Meeting (PTM) for 3rd
semester was conducted on 17.9.2020 at 11:30
AM through Google Meet (Online) by dept of
AI&ML. Around 30 parents participated in the
PTM. Parents were very happy about the class
conduction, but they were worried about the labs
conducting online. Lab Co-Ordinators made clear
to parents that, they are taking videos personally
in lab and showing to students live video and
uploading it in the GCR. They are also told to use
the laptop when showing the lab steps so that
they can execute the experiments along with the
faculty as well.
                    </div>
                </td>
            
        </tr>
    </table>
</div>

