<div class="left">
            <table border="1"  width="1100" cellspacing="0" >
                <tr >
                    <td colspan="2"  class="data" style="background-color: rgb(95, 141, 226);">

                        <table>
                            <tr>
                                <td><img src="../../assets/vidlogo.PNG" alt="" height="120px" width="160px" id="img"></td>
                                <td>
                                   <p> 11-03-2011 - Launching the MFA in filmmaking</p>
                                    Announcing a unique 2 year onlien brief residency MFA,BFA and Diploma program in film making led by award winning independent producer/director/screenwriter and educator Wayne Crawford.Program Highlights: A personalized film education for the training of directors/producers/writers. Emphasis on developing the complete film maker well versed in story and story-structure. A 10-day residence at our campus in paris,France. Write,produce and direct 3 films of your...
                                    
                                </td>
                            </tr>
                        </table>
                        
                        </td>
                </tr>
                <tr  >
                    <td rowspan="3"  class="data">
                        <h1>Welcome!</h1>
                        <div class ='blue'><br>
                        Are you looking for a degree that is valuable fully online,that is going to make an impact in your life and in your job?
                        </div><br>
                        <div class='second'>
                        Are you looking for something different,modern,truly international yet adapted to you and your culture?
                        </div>
                        <br>
                        <div class='third'>
                        Horizons university has the solution for you
                        </div><br>
                        <div class='fourth'>
                        Our mission is to provide educational experience that fits our students needs in any part of the world and contribute to their personal and professional fulfillment.
                        
                        
                        
                        </div><br>
                        <div class='fifth'>
                        we provide programs that are flexible in time, that take into account person's experience and that are affordable. we are specialized in distant education but also offer on-campus programs.
                        </div><br>
                        <div class="last" style="background-color: rgb(147, 214, 236);">
                            <img src="../../assets/file.jpg" alt="" height="30px" width="34px">
                        
                            <a >click here for more detailed course information</a>
                        
                        </div>
                    </td>
                    <td  class="data" style="background-color: rgb(146, 172, 221);width: 600px;">
                        <table>
                            <tr>
                               
                                <td>
                                    <h2 style="color: darkblue;">Campus Study</h2>
                        our on-class programs allow you to interact with faculty and other students during residency periods and complete your periods online.It will another flexible solution that will certainly enhance your professional life.
                   
                                </td>
                                <td>
                                    <img src="../../assets/campus.jpg" alt="" height="100px" width="140px">
                                </td>
                            </tr>
                        </table>
                         </td>

                </tr>
                <tr>
                    
                    <td  class="data" style="background-color:rgb(95, 141, 226) ;">
                        <table>
                            <tr>
                                <td> <img src="../../assets/online.jpg" alt="" height="100px" width="140px" ></td>
                                <td style="padding-left: 10px;">
                                    <h2 style="color: darkblue;">Online Study</h2>
                                    <div>
                                        our online programs allows you to work at your own pace while you keep your job and your activities. You can pursue quality education without leaving home.This option is also less costly and available in any country int the world where you live.
                   
                                    </div></td>
                                </tr>
                        </table>
                        </td>
                        
                </tr>
                <tr>
                    <td class="data" style="background-color: rgb(146, 172, 221);">
                        <table>
                            <tr>
                                <td>
                                    <img src="../../assets/life.PNG" alt="" width="600px" height="80px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="background-color: white;border:solid rgba(109, 128, 231, 0.918);border-radius: 17px;margin-top: 2px;padding-left: 3px;">
                                        Horizons university is one of the rare universities in the world to offer entire course modules in virtual campus, along with live presentations from keynote speakers, facilitating learning, communication and interaction amongst the community.
                   
                                    </div>
                                    
                                </td>
                            </tr>
                        </table>
                        </td>
                </tr>
            </table>
        </div>

        <div class="right">
            
            <form id="frm">
                <fieldset style="border-radius: 10px;">
                    <legend></legend>
                    <b style="text-align: center;padding-left: 5px;text-decoration: solid;"> Online learning portal</b><br>
            
                    User Name:
                    <br>
                    <input type="text" name="user" id="user" placeholder="user name" required/><br>
                   Password
                   <br>
                    <input type="password" name="pass" id="pass" placeholder="password here" required/>
                    <br><br>
                    <button style="text-align: center;" type="submit" id="submit">Login?</button>
                </fieldset>
            </form>
        </div>